/*----------------------------
2.0 Home-style-2
----------------------------*/


/*----------------------------
#2.1 category-area-style2
----------------------------*/

.slider_item .title_text {
    line-height: 90px;
    font-size: 75px;
    margin-bottom: 25px;
    font-family: "Oswald Bold";

    @media(max-width:1199px){
        line-height: 70px;
        font-size: 56px;
        margin-top: 30px;
    }
    @media(max-width:740px){
        line-height: 60px;
        font-size: 50px;
        margin-top: 30px;
    }
    @media(max-width:500px){
        line-height: 50px;
        font-size: 40px;
        padding-right: 40px;
        margin-top: 30px;
    }
    @media(max-width:360px){
        line-height: 46px;
        font-size: 36px;
    }
}

.slider_item p {
    font-size: 18px;
    margin-bottom: 40px;
    color: $white;
    font-family: "Roboto Regular";

    @media(max-width:740px){
        font-size: 16px;
        padding-right: 90px;
    }
    @media(max-width:740px){
        // font-size: 16px;
        padding-right: 50px;
    }
}
.ul_li {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.btns_group li:not(:last-child) {
    margin-right: 30px;

    @media(max-width:400px){
        margin-right: 20px;
    }
    @media(max-width:360px){
        margin-right: 10px;
    }
}
.ul_li > li{
    float: left;
    list-style: none;
    display: inline-block;
}
.btn {
    border: none;
    outline: none;
    line-height: 1;
    color: $white;
    font-size: 14px;
    // font-weight: 700;
    padding: 21px 42px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    font-family: "Roboto Bold";

    @media(max-width:400px){
        padding: 19px 34px;
    }
    @media(max-width:360px){
        padding: 19px 32px;
    }
}
.btn:focus {
    box-shadow: none;
}
.btn.btn_primary {
    background-color: #c7a17a;
}
.btn.btn_border {
    padding: 19px 42px;
    border: 2px solid transparent;

    @media(max-width:400px){
        padding: 19px 34px;
    }
    @media(max-width:360px){
        padding: 19px 32px;
    }
}
.btn.border_white {
    border-color: rgba(255, 255, 255, 0.5);
}
.btn.btn_primary:hover {
    background-color: #1B1B1B;
    color: #fff;
}
.btn.border_white:hover {
    color: #c7a17a;
    border-color: #ffffff;
    background-color: #ffffff;
}

.category-area-s2{
    padding-bottom: 80px;
    position: relative;
    background-color: #fdf5ee;

    @media(max-width:767px){
        padding-bottom: 50px;
     }

    .category-wrap {
        .category-item{
            text-align: center;
            padding: 36px 20px;
            // background: #fdf5ee;
            margin-bottom: 45px;
            box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
            background-color: $white;
            border-radius: 12px;

            &:last-child{
                margin-bottom: 45px;
            }
             
            @media(max-width:600px){
               padding: 20px;
            }

            .category-icon{
                float: none;
                margin: 0 auto;
                background: $white;
                margin-bottom: 15px;
            }

            .category-content{
                margin-top: 0;
            }
        } 
    }

    &.style-2{
        // background:#fdf5ee;


        .category-wrap {
            .category-item{
                background: $white;
                margin-bottom: 45px;

                .category-icon{
                    // background: #fdf5ee;
                }
            } 
        }
    }
    
}


/*--------------------------------------------------------------
#2.2	about-section
--------------------------------------------------------------*/
.about-section {

    border-top:1px solid #ebebeb;

	.video-area {
		max-width: 469px;
		position: relative;

		img {
			border-radius: 5px;
		}
	}

	.video-holder {
		background: $white;
		width: 80px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		border-radius: 5px;
		position: absolute;
		left: 0;
		top: 0;
		box-shadow: 0px 3px 27.2px 4.8px rgba(8, 106, 216, 0.11);

		.fi:before {
			font-size: 50px;
			font-size: calc-rem-value(50);
			color: $theme-primary-color;
		}

        button.wrap{
            background: none;
            border: 0;
        }
	}

	.about-area {

		@include media-query(1199px) {
			padding-top: 0;
			padding-left: 0;
		}


        .about-wrap{
            @media(max-width:991px){
                margin-top: 40px;
            }
            .about-title{
                
                small{
                   display: block; 
                   font-size: 22px;
                   line-height: 25px;
                   background: -webkit-linear-gradient($theme-primary-color, $theme-secondary-color);
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;
                   margin-bottom: 20px;
    
                    @media(max-width:991px){
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
                h2{
                    font-size: 55px;
                    line-height: 80px;
                    font-weight: 600;
                    margin-bottom: 15px;
    
                    span{
                        color: $theme-primary-color;
                    }
    
                    @media(max-width:1200px){
                        font-size: 40px;
                        line-height: 65px;
                    }
                    @media(max-width:991px){
                        font-size: 40px;
                        line-height: 55px;
                        margin-bottom: 10px;
                    }
                    @media(max-width:450px){
                        font-size: 30px;
                        line-height: 45px;
                     }
                }
    
                padding-bottom: 20px;
                position: relative;
                margin-bottom: 40px;
    
                &:after{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 30px;
                    height: 6px;
                    background: linear-gradient(to right, $theme-primary-color , $theme-secondary-color);
                    content: "";
                }
                &:before{
                    position: absolute;
                    left: 40px;
                    bottom: 0;
                    width: 40px;
                    height: 6px;
                    background: linear-gradient(to right, $theme-primary-color , $theme-secondary-color);
                    content: "";               
                }
            }
    
            p{
                margin-bottom: 30px;
            }
        }
	}
}

.category-area-s2 .hero-shape-img-1{
    position: absolute;
    right: -30px;
    top: 220px;
    z-index: 10;

    img {
        width: 300px;
    }

    @media(max-width: 1440px) {
        top: 280px;
    }

    @media(max-width: 1199px) {
        display: none;
    }
}
.category-area-s2 .hero-shape-img-2{
    position: absolute;
    left: -120px;
    top: -30px;

    img {
        width: 300px;
    }

    @media(max-width: 1199px) {
        display: none;
    }
}