

.tp-breadcumb-area {
    // background: url(../../images/aboutus-hero.jpg);

	// background: url(../../images/banner.jpg);
	// background-repeat: no-repeat;
	// background-position: 100%;
    // min-height: 480px;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // z-index: 1;

	background: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: 100% 80%;
    min-height: 500px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

	.hero-shape-img-1{
		position: absolute;
		right: 0;
		z-index: -2;

		@media(max-width: 991px) {
			display: none;
		}
	}
	.hero-shape-img-2{
		position: absolute;
		left: 0;
		z-index: -2;

		@media(max-width: 991px) {
			display: none;
		}
	}
	@media(max-width: 1440px) {
		background-position: 70% 80%;
	}

	@media(max-width: 991px) {
		background-position: 80% 80%;
	}

	@media(max-width: 767px) {
		min-height: 380px;
	}

	@media(max-width: 680px) {
		// background-position: 75% 80%;

		background: url(../../images/mobile-banner.jpg);
		background-repeat: no-repeat;
		background-position: 70% 80%;
		min-height: 500px;
		background-size: cover;
	}

	// @media(max-width: 576px) {
	// 	background-position: 80% 80%;
	// }

	// @media(max-width: 475px) {
	// 	background-position: 90% 80%;
	// }

	&:before{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $dark-gray;
		content: "";
		z-index: -1;
		opacity: .3;
	}
	.tp-breadcumb-wrap {
		text-align: center;
		margin-top: 3.5rem;

		@media(max-width: 767px) {
			margin-top: 5rem;
		}

		h2{
			font-size: 50px;
			font-family: "Oswald Bold";
			letter-spacing: 6px;
			color: #fff;
			line-height: 60px;
			margin-top: -10px;
			margin-bottom: 20px;
			text-transform: uppercase;

			@media(max-width: 767px) {
				font-size: 35px;
				line-height: 35px;
			}
		}

		ul{
			li{
				display: inline-block;
				padding: 0px 5px;
				color: #fff;
				position: relative;
				font-size: 16px;
				font-family: "Roboto Bold";
				letter-spacing: 0.8px;
				// font-family: $base-font;

				@media(max-width:767px){
					font-size: 16px;
					font-family: "Roboto Bold";
					letter-spacing: 0.5px;
				}

				&:after{
					content: "/";
					position: relative;
					left: 7px;
				}

				&:last-child{
					span{
						color: $white;
						font-size: 16px;
					}
					&:after{
						display: none;
					}
				}

				a{
					color: #fff;
					font-size: 20px;
					transition: all .3s;
					font-size: 16px;

					// &:hover{
					// 	color: $theme-primary-color;
					// }
				}
			}
		}
	}
}
